<div *ngIf="task" class = "task-details-container">
  <div *ngIf="!isEditMode">
    <h3>{{ task.title }}</h3>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Type: </strong>{{ task.type }}</p>
    <p><strong>Created On:</strong> {{ task.createdOn | date: 'dd/MM/yy, hh:mm a' }}</p>
    <p><strong>Status:</strong> {{ task.status }}</p>
    <p><strong>Assigned To:</strong> 
      <span *ngIf="task.assignedTo === 'UNASSIGNED'">UNASSIGNED</span>
      <span *ngIf="task.assignedTo !== 'UNASSIGNED'">
        {{ getUserNameById(task.assignedTo) }}
      </span>
    </p>
    <button type="button" class="btn btn-info" (click)="editMode()">Edit</button>
  </div>

  <div *ngIf="isEditMode">
    <form [formGroup]="taskForm" (ngSubmit)="onSave()">
      <label for="title">Title:</label>
      <input id="title" formControlName="title" required>
      <div
        *ngIf="taskForm.controls['title'].invalid && (taskForm.controls['title'].dirty || taskForm.controls['title'].touched)">
        Title is required.
      </div>

      <label for="description">Description:</label>
      <input id="description" formControlName="description" required>
      <div
        *ngIf="taskForm.controls['description'].invalid && (taskForm.controls['description'].dirty || taskForm.controls['description'].touched)">
        Description is required.
      </div>

      <label for="type">Type:</label>
      <input id="type" formControlName="type" required>
      <div
        *ngIf="taskForm.controls['type'].invalid && (taskForm.controls['type'].dirty || taskForm.controls['type'].touched)">
        Type is required.
      </div>

      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
      </select>
      <select id="assignedTo" formControlName="assignedTo">
        <option value="UNASSIGNED">UNASSIGNED</option>
        <option *ngFor="let user of users" [value]="user._id">
          {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
        </option>
      </select>
      <button type="submit" [disabled]="taskForm.invalid">Save</button>
      <button type="button" (click)="editMode()">Cancel</button>
    </form>
  </div>
</div>
<div *ngIf="!task">
  <p>Task not found</p>
</div>