.task-details-container {
    padding: 20px;
    background-color: #bcf7e8;
    max-width: 500px;
  }
  
  h3 {
    text-align: center;
    color: #1c0535;
  }
  label, input {
    display: block;
  }