.user-details-container {
    background-color: #e9d8d8;
    max-width: 500px;
    border-radius: 6px;
    padding: 20px;

  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  label, input {
    display: block;
  }
 
  
  